###### 4. Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [5]:
movies = ["Doctor strange", "Shawshank Redemption", "Iron Man", "The Imitation Game"]
movies

['Doctor strange', 'Shawshank Redemption', 'Iron Man', 'The Imitation Game']

In [6]:
movies.append("The Matrix")
movies

['Doctor strange',
 'Shawshank Redemption',
 'Iron Man',
 'The Imitation Game',
 'The Matrix']

###### 5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [7]:
integer = [1,2,3,4,5,6,7,8,9,10]
integer

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
total = 0 
for num in integer:
    total +=num 

print (total)

55

In [18]:
total_sum = sum(integer)
total_sum

55

###### 6. Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [24]:
mixed_list = ["Govinda", 21, 5000.25]
mixed_list

['Govinda', 21, 5000.25]

In [33]:
mixed_list.pop(0)
mixed_list

[21, 5000.25]

###### 7. Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [38]:
days = ("sunday", "monday" , "tuesday" , "wednesday", "thursday", "friday", "saturday")
days

('sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday')

In [39]:
days[3]

'wednesday'

###### 8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [40]:
colors = ("red" ,"green", "blue", "yellow")
colors

('red', 'green', 'blue', 'yellow')

In [46]:
check = "green"
is_present = check in colors
is_present

True

In [45]:
check = "black"
is_present = check in colors
is_present

False

###### 9. Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.

In [51]:
book = {"title":"science", "author":"ram", "year": 2020}
book

{'title': 'science', 'author': 'ram', 'year': 2020}

In [52]:
book['year'] = 2024
book

{'title': 'science', 'author': 'ram', 'year': 2024}

###### 10. Create a dictionary containing the names of fruits as keys and their corresponding colorsas values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.

In [53]:
fruit = { "mango" : "yellow", "orange":"orange", "apple":"red"}
fruit

{'mango': 'yellow', 'orange': 'orange', 'apple': 'red'}

In [54]:
fruit["kiwi"] = "green"
fruit

{'mango': 'yellow', 'orange': 'orange', 'apple': 'red', 'kiwi': 'green'}

###### 11. Create a dictionary representing the population of different cities with keys as city namesand values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.

In [55]:
city = {"kathmandu":5000000, "New Delhi":10000000, "NewYork":300000}
city

{'kathmandu': 5000000, 'New Delhi': 10000000, 'NewYork': 300000}

In [57]:
del city['New Delhi']
city

{'kathmandu': 5000000, 'NewYork': 300000}